@media (min-width: 768px) and (max-width: 979px) {
    .faceted-top-search input[type="text"] {
       width: 700px;
    }
    #header {
        margin: 0;
        margin-left: 100px;
    }
    #logo {
        height: 437px;
        width: 600px;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
    section#join {
        margin-left: 32px;
    }
    .span4 {
        width: 38.491712705% !important;
    }
    .span5 {
        width: 60.055248616% !important;
    }
    .span8 {
        width: 80% !important;
    }
    #credit_card_verification_value {
        width: 70% !important;
    }
    #credit_card_number {
        width: 55% !important;
    }
    section#benefits h1 {
        padding-right: 95px;
    }
    section#benefits article {
        margin-right: 70px;
    }
}


@media (max-width: 979px) {
    .faceted-top-search input[type="text"] {
       width: 550px;
    }
    #header {
        margin: 0;
        margin-left: 100px;
    }
    #logo {
        height: 437px;
        width: 600px;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
    section#join {
        margin-left: 32px;
    }
    .span8 {
        width: 90% !important;
    }
    #credit_card_verification_value {
        width: 70% !important;
    }
    #credit_card_number {
        width: 55% !important;
    }
    section#benefits h1 {
        padding-right: 95px;
    }
    #logo {
        max-width: none;
    }
}

@media (max-width: 767px) {
    .faceted-top-search input[type="text"] {
       width: 310px;
    }
    #header {
        margin: 0;
        margin-left: 20px;
    }
    body {
        padding-right: 0;
        padding-left: 0;
    }
    section {
        margin-left: 0;
    }
    .navbar .brand {
        padding-left: 10;
        margin-left: 15px;
    }
    .navbar .btn-navbar {
        margin-right: 25px;
    }
}

@media (max-width: 480px) {
    .faceted-top-search input[type="text"] {
       width: 300px;
    }
}


@media (min-width: 980px) {
    .faceted-top-search input[type="text"] {
       width: 750px;
    }
}

@media (min-width: 1200px) {
    .faceted-top-search input[type="text"] {
       width: 990px;
    }
}